body {
  background-color: #fdfdfd;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: rgb(57, 143, 255);
  color: white;
  padding: 1rem 0;
  text-align: center;
  font-size: xx-large;
}
